{% extends 'index.html' %}
{% load static %}
{% load bootstrap4 %}
{% block my_code %}



<!-- bradcam_area  -->
<div class="right">
    <div class="bradcam_area bradcam_bg_1">
        <div class="container">
            <div class="row">
                <div class="col-xl-4">
                    <div class=" bradcam_text">
                        <h3 class="wow fadeInLeftBig" data-wow-duration="2.5s">
                            +500 كتاب
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ bradcam_area  -->

<div class="right">

    <!-- job_listing_area_start  -->
    <div class="job_listing_area plus_padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="job_filter white-bg">
                        <div class="form_inner white-bg">

                            <form method="GET">
                                <div class="row">

                                    <div class="col-lg-12">
                                        <div class="single_field">
                                            {% bootstrap_form filter.form %}
                                        </div>
                                    </div>
                                    <div class="col-lg-12">

                                        <div class="reset_btn">
                                            <button class="boxed-btn3 w-100" type="submit">بحـــث</button>
                                        </div>
                                    </div>

                                </div>
                            </form>

                        </div>



                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="recent_joblist_wrap">
                        <div class="recent_joblist white-bg ">
                            <div class="row align-items-center">
                                <div class="col-md-12">
                                    <h6>يتم عرض الكتب عشوائيا وغير مرتبة ؛ يمكنك تحديد كليتك والقسم والسنة الدراسية لعرض
                                        الكتب الخاصة بك فقط وذلك عن طريق البحث</h6>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="job_lists m-0">
                        <div class="row">



                            {% for book in all_book %}


                            <div class="col-lg-12 col-md-12">
                                <div class="single_jobs white-bg d-flex justify-content-between">
                                    <div class="jobs_left d-flex align-items-center">
                                        <div class="thumb">
                                            <img style="
                                                width: 80px;
                                                height: 80px;
                                                margin-right: -15px;
                                                margin-top: -15px;" src="{% static 'pdf/Books/cover_ous.png' %}"
                                                alt="">
                                        </div>
                                        <div class="jobs_conetent">
                                            <a href="job_details.html">
                                                <h4 style="margin-right: 10px;">{{book.Btitle}}</h4>
                                            </a>
                                            <div class="links_locat d-flex align-items-center">
                                                <div class="location">
                                                    <p style="font-size: 13px;"> <i class="fa fa-university"></i>
                                                        {{book.Bcollge}}</p>
                                                </div>
                                                <div class="location">
                                                    <p style="font-size: 13px;"> <i class="fa fa-puzzle-piece"></i>
                                                        {{book.Bdepart}}</p>
                                                </div>

                                                <div class="location">
                                                    <p title="الفصل الدراسي" style="font-size: 13px;"> <i
                                                            class="fa fa-graduation-cap"></i>
                                                        {{book.Bclass}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="jobs_right">
                                        <div class="apply_now">

                                            <a style="margin-top: 15px; " href="" download="{{book.pdf}}"
                                                class="boxed-btn3">تحميل</a>


                                        </div>

                                    </div>
                                </div>
                            </div>

                            {% endfor %}


                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="pagination_wrap">
                                    <ul>
                                        {% if all_book.has_previous %}

                                        <li><a href="?page={{all_book.previous_page_number}}"> <i
                                                    class="ti-angle-right"></i> </a></li>
                                        {% else %}
                                        <li class="disables"></li>
                                        {% endif %}

                                        {% for pages in all_book.paginator.page_range %}
                                        {% if all_book.number == pages %}
                                        <li><a href="#"><span>{{pages}}</span></a></li>
                                        {% else %}
                                        <li><a href="?page={{pages}}"><span>{{pages}}</span></a></li>
                                        {% endif %}
                                        {% endfor %}

                                        {% if all_book.has_next %}
                                        <li><a href="?page={{all_book.next_page_number}}"> <i class="ti-angle-left"></i>
                                            </a></li>
                                        {% else %}
                                        <li class="disables"></li>
                                        {% endif %}

                                    </ul>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- job_listing_area_end  -->

</div>


{% endblock my_code %}