{% extends 'index.html' %}
{% load static %}

{% block my_code %}

<!-- bradcam_area  -->
<div class="right">
    <div class="bradcam_area bradcam_bg_1">
        <div class="container">
            <div class="row">
                <div class="col-xl-4">
                    <div class=" bradcam_text">
                        <hr style="background-color: blanchedalmond;">
                        <h3 class="wow fadeInLeftBig" data-wow-duration="2.5s">كليات الجامعة</h3>
                        <hr style="background-color: blanchedalmond;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ bradcam_area  -->




<!-- popular_catagory_area_start  -->
<div class="popular_catagory_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section_title mb-40">

                    <h3 style="text-align: right;">الكليــــات </h3>
                </div>
            </div>
        </div>
        <div class="row">

            {% for col in colleges_list %}


            <a href="{{col.get_absolute_url}}">
                <div class="col-lg-4 col-xl-3 col-md-6">
                    <div class="single_catagory">

                        <h4 style="text-align: center;">{{col.CLtitle}}</h4>

                        <p style="text-align: center;"> عدد الكليــــات <span>{{col.CLdepart}}</span> </p>
                    </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
</div>
<!-- popular_catagory_area_end  -->
{% endblock my_code %}